$mainC: #e6f2ec;//主色
$main1C:#D3F0EA;//主色调辅色1
$main2C:#EBF5F3;//主色调辅色2
$warnC:#FFA947;//警告色
$dangerC:#FF4C47;//危险色
$borderC:#AAB8C6;//边框色
$font1C:#333;//字体色1
$font2C:#878D99;//字体色2
$font3C:#B4BCCC;//字体色3
$btnC: #ff7e3d;